// Chart
.c3 svg {
  max-width: 100%;
  font-size: 10px;
  font-weight: $font-weight-bold;

  text {
    color: var(--text-primary);
    fill: var(--text-primary);
  }
}

.c3 .c3-axis-y-label,
.c3 .c3-axis-y2-label {
  font-size: 12px;
  font-weight: $font-weight-base;
  letter-spacing: 0.1em;

  @include FR_MQ_ONLY(QS) {
    font-size: 10px;
  }
}

.c3 .c3-axis .tick {
  font-size: 10px;
  font-weight: $font-weight-bold;
  letter-spacing: -0.025em;

  @include FR_MQ_ONLY(QS) {
    font-size: 10px;
  }
}

.c3 path,
.c3 line {
  fill: none;
  stroke: rgba(#000000, 0.1);

  html[dark] & {
    stroke: rgba(#ffffff, 0.1);
  }
}

// Axis
// Grid
.c3 .c3-grid line {
  stroke: rgba(#000000, 0.1);

  html[dark] & {
    stroke: rgba(#ffffff, 0.1);
  }
}

.c3 .c3-grid text {
  fill: rgba(#000000, 0.1);
}

// Text on Chart
.c3 .c3-text.c3-empty {
  fill: var(--text-secondary);
  font-size: 2em;
}

// Line
.c3 .c3-line {
  stroke-width: 2px;
}

// Bar
.c3 .c3-bar {
  stroke: #000000 !important;
  stroke-width: 0.5 !important;

  html[dark] & {
    stroke: #000000 !important;
    stroke-width: 1 !important;
  }
}

// Select - Drag
// Legend
.c3 .c3-legend-item {
  font-weight: bold;
}

// Tooltip
.c3 .c3-tooltip-container {
  z-index: 10;
}

.c3 .c3-tooltip {
  background-color: var(--map-background-secondary);
  box-shadow: 0 10px 20px rgba(#000000, 0.15);
  opacity: 0.95;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.c3 .c3-tooltip tr {
  border: 1px solid var(--map-stroke);
}

.c3 .c3-tooltip th {
  @include TYPESET('body-medium');

  background-color: var(--map-background-active);
  padding: 0.2em;
  color: currentColor;
  text-align: center;
  font-weight: $font-weight-bold;
}

.c3 .c3-tooltip td {
  @include TYPESET('body-xsmall');

  padding: 0.2em 0.8em;
  background-color: var(--map-background-secondary);
  border-left: 1px solid var(--map-stroke);
  font-weight: $font-weight-bold;

  &:last-child {
    text-align: center;
    font-size: 150%;
    line-height: 1.2;
  }
}

.c3 .c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0.5em;
}

// Area
.c3 .c3-area {
  opacity: 0.1 !important;
}
