@import '@/styles/import.scss';

.wrapper {
  position: relative;
}

.heading {
  @include TYPESET('body-small');

  font-weight: $font-weight-medium;
  margin-bottom: SIZE(30);
  color: var(--text-secondary);
}

.cardList {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include FR_MQ_ONLY(QS) {
    flex-wrap: wrap;
  }
}

.card {
  width: (100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include FR_MQ_ONLY(QS) {
    width: 50%;
    margin-top: SIZE(20);

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}

.title {
  @include TYPESET('body-small');

  font-weight: $font-weight-bold;
  line-height: 1;
  margin-bottom: SIZE(10);
}

.number {
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: -0.06em;
  line-height: 1;

  @include FR_MQ_ONLY(QS) {
    font-size: 18vw;
  }

  span {
    font-size: 35%;
    font-weight: bold;
    margin-left: 0.1em;
  }
}
