.base {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
  flex-shrink: 0;
  color: inherit;
  vertical-align: -0.125em;
}
