@import '@/styles/import.scss';

.header {
  position: relative;
  padding-top: SIZE(15);
  padding-bottom: SIZE(15);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include FR_MQ_ONLY(QT) {
    padding-top: SIZE(20);
    padding-bottom: SIZE(20);
  }

  @include FR_MQ_ONLY(QS) {
    padding-top: SIZE(20);
    padding-bottom: SIZE(20);
  }
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #0088BB;

  html[dark] & {
    fill: mix(#0088BB, #ffffff, 70%);
  }
}

.headerLogoImage {
  width: SIZE(60);
  margin-right: SIZE(10);
}

.headerLogoText {
  font-size: 0.8rem;
  font-weight: $font-weight-medium;
  line-height: 1.65;

  > span {
    display: block;
  }
}
