@import '@/styles/import.scss';

.block_heading {
  position: absolute;
  left: SIZE(25);
  top: SIZE(25);
  z-index: 10;
  color: #ffffff;
}

.block {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  @include FR_MQ_MIN(M) {
    max-height: 460px;
    min-height: 300px;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: ((1 / 5) * 100%);
    }
  }

  @include FR_MQ_ONLY(QT) {
    height: 20vw;
    min-height: 300px;
  }

  @include FR_MQ_ONLY(QS) {
    height: (100vw / 1.618);
  }
}

.hospitalized {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: var(--c-red);
  background-color: rgb(175, 18, 23);
  border-right: 4px solid var(--brand-background-solid);
}

.hospitalized_heading {
  position: absolute;
  left: SIZE(25);
  bottom: SIZE(20);
  color: #ffffff;
  white-space: nowrap;
}

.discharged {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: var(--c-green);
}

.discharged_heading {
  position: absolute;
  left: SIZE(10);
  bottom: SIZE(20);
  white-space: nowrap;
  color: var(--c-green-darken-4);

  @include FR_MQ_ONLY(QS) {
    text-align: right;
    left: auto;
    right: calc(100% + #{SIZE(20)});
    color: #ffffff;
  }
}

.heading_title {
  @include TYPESET('body-text');

  font-weight: $font-weight-medium;
  letter-spacing: 0.1em;
  padding-left: 0.1em;
  line-height: 2;
}

.hospitalized_heading .heading_text {
  font-size: 6rem;
  font-weight: $font-weight-bold;
  line-height: 0.9;
  letter-spacing: -0.05em;
  margin-left: -0.025em;

  small {
    font-size: 35%;
  }

  @include FR_MQ_ONLY(QS) {
    font-size: 25vw;
  }
}

.discharged_heading .heading_text {
  font-size: 4.25vw;
  font-weight: $font-weight-bold;
  line-height: 0.9;
  letter-spacing: -0.025em;

  small {
    font-size: 35%;
  }

  @include FR_MQ_ONLY(QS) {
    font-size: 10vw;
  }
}
