@import '@/styles/import.scss';

.block {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  @include FR_MQ_MIN(M) {
    max-height: 460px;
    min-height: 300px;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: ((1 / 5) * 100%);
    }
  }

  @include FR_MQ_ONLY(QT) {
    height: 20vw;
    min-height: 300px;
  }

  @include FR_MQ_ONLY(QS) {
    height: (100vw / 1.618);
  }
}

.block_heading {
  position: absolute;
  left: SIZE(25);
  top: SIZE(25);
  z-index: 10;
  color: #ffffff;
}

.block_bar {
  position: absolute;
  top: 0;
  bottom: 0;
}

.is-hospitalized {
  background-color: var(--map-background);
  left: 0;
  // background-color: rgb(175, 18, 23);
  // background-color: var(--color-red);
}

.is-discharged {
  right: 0;
  background-color: var(--map-background);
  background-color: var(--color-green);
}

.is-dead {
  right: 0;
  background-color: var(--color-purple);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #000000;
    z-index: 2;
  }

  &::before { right: 100%; }
  &::after { left: 100%; }
}

.count_wrapper {
  position: absolute;
  left: SIZE(25);
  right: SIZE(25);
  bottom: SIZE(25);
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.count {
  margin-right: SIZE(25);
  color: #ffffff;

  &[data-type='dead'] {
    margin-left: auto;
  }

  &[data-type='discharged'] {
    margin-right: 0;
  }
}

.count_title {
  @include TYPESET('body-text');

  font-weight: $font-weight-medium;
  padding-left: 0.1em;
  line-height: 2;
}

.count_text {
  font-size: 4rem;
  font-weight: $font-weight-bold;
  line-height: 0.975;
  letter-spacing: -0.07em;
  margin-left: -0.05em;

  small {
    font-size: 1.5rem;
  }

  @include FR_MQ_ONLY(QS) {
    font-size: 25vw;
  }

  [data-type='hospitalized'] & {
    font-size: 6rem;
  }
}
