@import '@/styles/import.scss';

.map {
  @include FR_MQ_MIN(T) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.mapItem {
  position: relative;

  @include FR_MQ_MIN(T) {
    width: calc(50% - #{SIZE(20)});
    margin-left: SIZE(40);

    &:first-of-type { margin-left: 0; }
  }

  @include FR_MQ_ONLY(QT) {
    width: calc(50% - #{SIZE(10)});
    margin-left: SIZE(20);
  }

  @include FR_MQ_ONLY(QS) {
    width: 100%;
    margin-top: SIZE(20);

    &:first-of-type { margin-top: 0; }
  }
}

.sectionDailyCases {
  margin-bottom: SIZE(40);
}

.sectionSummary {
  margin-top: SIZE(40);
}

.sectionChart {
  margin-top: SIZE(40);
}
