@import '@/styles/import.scss';

.block {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--map-background);
  padding: SIZE(30) 0;
}

.block_heading {
  @include TYPESET('heading', '04');

  padding: 0 SIZE(30);
}

.block_map {
  margin-bottom: -(SIZE(10));
  padding: 0 SIZE(10) 0 SIZE(5);

  @include FR_MQ_MIN(T) {
    padding: 0 SIZE(30);
  }
}
